{% if page.layout != 'index' %}
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
    <footer class="lang-options">
        <em>Llenguatge/Language:</em>
        <ul>
        {% for post in posts %}
        <li><a href="{{ site.base-url }}/test_site/{{ post.url }}" class="{{ post.lang }}" title="{{post.lang}}"><img src="/test_site/public/{{ post.lang }}flag.png" height = 30 width = 45></a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
{% endif %}
