---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

<!--
<div class="home">

  {{ content }}

  <h1 class="page-heading">posts</h1>

  <ul class="post-list">
    {% assign posts = site.posts | where:"lang", page.lang %}
    {% for post in posts%}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
-->
